{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Test microservices</h1>
                <hr>
                <button id="getBrokerSrvData">Get broker-service data</button>
                <button id="testAuth">Test Auth</button>
                <button id="testLogger">Test Logger</button>
                <div id="output" class="mt-5" style="outline: 1px solid silver; padding: 2em;">
                    <span class="text-muted" id="output">Output shows here...</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="mt-5">Sent</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="payload"><span class="text-muted">Nothing sent yet...</span></pre>
                </div>
            </div>
            <div class="col">
                <h4 class="mt-5">Received</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="received"><span class="text-muted" id="received">Nothing received yet...</span></pre>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        const getBrokerDataBtn = document.getElementById("getBrokerSrvData")
        const testAuthBtn = document.getElementById("testAuth")
        const testLogBtn = document.getElementById("testLogger")
        const output = document.getElementById("output")
        const received = document.getElementById("received")
        getBrokerDataBtn.addEventListener("click", function(){
            fetch('http://localhost:8080/broker', {
                method: "POST"
            })
                .then(response => response.json())
                .then(data => {
                    console.log("data",data)
                    output.innerHTML = data.message;
                    received.innerHTML = JSON.stringify(data);
                });
        })

        testAuthBtn.addEventListener("click", function(){
            const header = new Headers({
                "Content-Type": "application/json"
            })
            const payload = {
                action: "auth",
                auth: {
                    email: "cuongnt.blockhive@gmail.com",
                    password: "25011998aA@"
                }
            }
            fetch('http://localhost:8080/handle', {
                method: "POST",
                body: JSON.stringify(payload),
                headers: header
            })
                .then(response => response.json())
                .then(data => {
                    console.log("data",data)
                    output.innerHTML = data.message;
                    received.innerHTML = JSON.stringify(data);
                });
        })

        testLogBtn.addEventListener("click", function(){
            const header = new Headers({
                "Content-Type": "application/json"
            })
            const payload = {
                action: "log",
                log: {
                    name: "cuongnt",
                    data: "verysecret"
                }
            }
            fetch('http://localhost:8080/log', {
                method: "POST",
                body: JSON.stringify(payload),
                headers: header
            })
                .then(response => response.json())
                .then(data => {
                    console.log("data",data)
                    output.innerHTML = data.message;
                    received.innerHTML = JSON.stringify(data);
                });
        })
    </script>
{{end}}
